/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* Custom styles */

.wrapper {
    width: 1170px;
    margin: 0 auto;
}
body {
    background: #ecf0f1;
    text-align: center;
    font-family: Arial, sans-serif;
}
.header {
    background: #3498db;
    color: #fff;
    height: 850px;
    padding: 55px 0 0 0;
}
.header-headline {
    padding: 320px 0 0 0;
    font-weight: bold;
    font-size: 72px;
}
.header-slogan {
    padding: 45px 0 0 0;
    font-weight: bold;
    font-size: 64px;
}
.header-logo {
    float: left;
}
.js-header-menu {
    float: right;
}

.section-about-us {
    width: 1170px;
    height: 580px;
    background: #fff;
    border-radius: 5px;
    margin: -150px 0 90px 0;
}

.about-us-headline {
    font-size: 64px;
    padding: 75px 0 0 0;
    font-weight: lighter;
}

.section-headline {
    font-size: 64px;
    padding: 75px 0 0 0;
    margin: 0 0 20px 0;
}

.section-description { /* TODO: придумать более специфический класс */
    width: 750px;
    margin: 0 auto 60px auto;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
}

/* Фигура "Крестик" */
.cross {
    padding: 30px 0 30px 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 20px 55px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 40px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-read-more {
    background: #3498db;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.section-figures {
    margin: 0 0 120px 0;
}

.figures {
    text-align: center;
}

.figures li {
    display: inline-block;
    width: 330px;
}

.section-recent-projects {
    background: #27ae60;
}

.projects-img {
    margin: 0 0 120px 0;
}

.section-minim {

}



.minim-items li {
    float: left;
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    width: 555px;
    margin: 0 20px 0 0;
}